block variables 

doctype html
html(class= isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "" lang="en")
    head
        title='Hursun'
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content='Hi i am Hursun, Creative Developer Based in India')
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href='image/favicon.ico')
        link(rel="icon" type="image/png" sizes="16x16" href='image/favicon.ico' )

        //- meta(name="twitter:card" content="summary_large_image")
        //- meta(name="twitter:title" content=meta.data.title)
        //- meta(name="twitter:description" content=meta.data.description)
        //- meta(name="twitter:image" content=meta.data.image ? meta.data.image.url : '')
        meta(name="og:title" content='Hursun')
        meta(name="og:description" content='Hi i am Hursun, Creative Developer Based in India')
        meta(name="og:image" content='image/hursun.png')
        meta(name="og:type" content="website")

        //- link(rel="preload" as="font" href="monolo-mono.woff2" type="font/woff2" crossorigin="anonymous")
        //- link(rel="preload" as="font" href="Montserrat-Regular.woff2" type="font/woff2" crossorigin="anonymous")

        //- script(src="/blotter/blotter.min.js")
        //- script(src="/blotter/rollingDistortMaterial.js")
        link(href="/main.css" rel = 'stylesheet')
        base(href="")
    body 
        include ./partials/navigation
        include ./partials/header
        .content#content(data-template=template)
            block content  
    canvas.webgl 

    script(async src="/main.js")

